# Medical Cost Models
In this page of the notebook, I have imported medical cost data from Kaggle and have create different models in hopes of predicting medical charges.

In [24]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [7]:
def configure_plots():
    '''Configures plots by making some quality of life adjustments'''
    for _ in range(2):
        plt.rcParams['figure.figsize'] = [16, 9]
        plt.rcParams['axes.titlesize'] = 20
        plt.rcParams['axes.labelsize'] = 16
        plt.rcParams['xtick.labelsize'] = 14
        plt.rcParams['ytick.labelsize'] = 14
        plt.rcParams['lines.linewidth'] = 2

In [9]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [10]:
data = pd.read_csv("./archive (2)/medical_cost.csv")

In [11]:
data.head()

   Id  age     sex     bmi  children smoker     region      charges
0   1   19  female  27.900         0    yes  southwest  16884.92400
1   2   18    male  33.770         1     no  southeast   1725.55230
2   3   28    male  33.000         3     no  southeast   4449.46200
3   4   33    male  22.705         0     no  northwest  21984.47061
4   5   32    male  28.880         0     no  northwest   3866.85520

### Model 1: Linear Regression

In [12]:
#To change categorical variables into numerical
data_encoded = pd.get_dummies(data, drop_first=True)

In [18]:
#Setting x and y variables
X = data_encoded.drop('charges', axis=1)
y = data_encoded['charges']

In [31]:
#Splitting data into testing and training and fitting the Regression
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)
model = LinearRegression().fit(X_train, y_train)

In [37]:
#stats of model
y_pred_reg = model.predict(X_test)

mse_reg = mean_squared_error(y_test, y_pred_reg)
rmse_reg = np.sqrt(mse_reg)
r2_reg = r2_score(y_test, y_pred_reg)
b = model.intercept_

print(f"Intercept:{b}")
print(f"Mean Squared Error: {mse_reg}")
print(f"Root Mean Squared: {rmse_reg}")
print(f"R-Squared: {r2_reg}")

Intercept:-12889.557611588012
Mean Squared Error: 42729492.91371807
Root Mean Squared: 6536.7800111154165
R-Squared: 0.6953348996308837